**Python Basics**

In [1]:
print("hello world")

hello world

In [ ]:
name = "Khushi"
age = 21
price = 22.99
a = None
old = False
print(type(name))
print(type(age))
print(type(price))
print(type(a))
print(type(old))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'NoneType'>
<class 'bool'>

In [ ]:
a = 5
b = 6
print(a+b)

11

In [ ]:
a = 5           #Arithmetic operators
b = 2
sum = a+b
diff = a-b
mul = a*b
div = a/b
mod = a%b
pw = a**b
print(sum , diff , mul , div, mod, pw)

7 3 10 2.5 1 25

In [ ]:
a = 10      # Comparison operators
b = 20
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
num = 10    #Assignment operators
num**= 5
print(num)

100000

In [ ]:
print(not False)  # Logical operators
print(not True)
val1 = True
Val1 = True
print(val1 and Val1)  #dono true hui toh true otherwise false
print(val1 or Val1)   # dono false hui toh false otherwise true
a = 50
b = 30
print ( (a==b)or(a<b))

True
False
True
True
False

In [1]:
a = int("2")  #Type Casting
b = 4.25
print(type(a))
print(a+b)

<class 'int'>
6.25

In [2]:
name = input("Enter your name:")   #Input Taking for String
print("Hello", name)

Enter your name:Khushi
Hello Khushi

In [4]:
value = int(input("Enter your age:")) # input for Integer
print(type(value), value)

Enter your age:21
<class 'int'> 21

In [7]:
a = int(input("enter a number:"))
b = int(input("enter a number:"))
sum = a+b
print("sum",sum)

enter a number:1
enter a number:2
sum 3

In [11]:
side = float(input("Enter the side of a square:"))  # Input taking for Float
area = side*side
print("Area of a Square is :",area)

Enter the side of a square:4
Area of a Square is : 16.0

In [13]:
num1 = float(input("Enter num1:"))
num2 = float(input("Enter num2:"))
avg = (num1+num2)/2
print("The Average is :",avg)

Enter num1:16.5
Enter num2:3.5
The Average is : 10.0

In [3]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
print(a>=b)

Enter a number:2
Enter a number:10
False